<!DOCTYPE html>
{% load static %}
{% comment %} {% load crispy_forms_tags %}   {% endcomment %}

<html lang="en">
<head>
	<title>Change Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor\bootstrap\css\bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts\font-awesome-4.7.0\css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor\animate\animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor\css-hamburgers\hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor\select2\select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css\util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css\main.css' %}">
<!--===============================================================================================-->
</head>
<body>
<section>
	<div class="limiter">
		<center>
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'img\img-01.png' %}" alt="IMG">
				</div>

                <form onsubmit="return resetValidate()" action="{% url 'changepassword' %}" method="post" id="logform" name="logform">
                    <span class="login100-form-title">
						Change Password
					</span>


                        {% comment %} {% include 'Message.html' %} {% endcomment %}
                        {% csrf_token %}


                    <div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" id="current_password" name="current_password" placeholder="Current Password">
						<span class="error-msg" id="crnt-passwd"> </span>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					 <div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" id="new_password" name="new_password" placeholder="New Password">
						<span class="error-msg" id="new-passwd"> </span>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" id="confirm_password" name="confirm_password" placeholder="Retype Password">
						<span class="error-msg" id="confirm-passwd"> </span>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Change Password
						</button>
					</div>
					{% comment %} <div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a href="{% url 'user_reg' %}">Create your Account</a>

						</a>
					</div> {% endcomment %}
				</form>
			</div>
		</div>
	</center>
	</div>
</section>

	<script type="text/javascript">
        function resetValidate() {
            var password = document.getElementById('password').value;
            var c_password = document.getElementById('c-password').value;
            var form = document.getElementById('logform');

            const isPasswordSecure = (password) => {
                const re = new RegExp(
                    "^(?=.[a-z])(?=.[A-Z])(?=.[0-9])(?=.[!@#$%^&*])(?=.{8,})"
                );
                return re.test(password);
            };

            if (password == "") {
                document.getElementById("log-passwd").textContent = "***Please provide password";
                document.getElementById("log-passwd").style.border = "1px solid red";
                document.getElementById("log-passwd").style.color = "red";


                return false;
            } else if (isPasswordSecure(password) == false) {
                document.getElementById("log-passwd").textContent = "***Please provide valid password";
                document.getElementById("log-passwd").style.border = "1px solid red";
                document.getElementById("log-passwd").style.color = "red";

                return false;
            } else if (confirm_password == "") {
                document.getElementById('log-confirm').textContent = "Please enter your confirm password";
                document.getElementById('log-confirm').style.border = "1px solid red";
                document.getElementById("log-confirm").style.color = "red";


                return false;
            } else if (password != confirm_password) {
                document.getElementById('log-confirm').textContent = "Password does not match";
                document.getElementById('log-confirm').style.border = "1px solid red";
                document.getElementById("log-confirm").style.color = "red";

                return false;
            } else {
                // submit forms
                form.submit();
            }
        }
    </script>



<!--===============================================================================================-->
    <script src="{% static 'vendor\jquery\jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor\bootstrap\js\popper.js' %}"></script>
	<script src="{% static 'vendor\bootstrap\js\bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor\select2\select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor\tilt\tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js\logmain.js' %}"></script>

</body>
</html>