{% extends 'base.html' %}

{% block content %}
{% load static %}

                            <h3 style="font-size:20px;margin-top:-5px;color:red" class="text-danger font-weight-bold">{{message}}</h3>

<div class="container ">

<h1>Welcome to {{quiz.coursename}} Quiz</h1>

<div align="right " id="displaytimer"><b>Timer: 0 seconds</b></div>

<!-- <form method='post' action="{% url 'quiz_answer' 2 %} ">-->
<!--    {% csrf_token %}-->

<!--<style>-->
<!--        .radioButton input[type="radio"]:checked+label {-->
<!--&lt;!&ndash;            background-color: green;&ndash;&gt;-->
<!--            color: white;-->
<!--        }-->
<!--    </style>-->
<!--     <div class="radioButton">-->
<!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;      <label>{{quiz.question1}}</label>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;         <div class="form-floating mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="text" name="answer"class="form-control" id="floatingPassword"&ndash;&gt;-->
<!--&lt;!&ndash;                                    placeholder="enter here">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                <label for="floatingPassword">Job Location</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;         <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;      <label>{{quiz.question2}}</label>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;         <div class="form-floating mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="text" name="answer"class="form-control" id="floatingPassword"&ndash;&gt;-->
<!--&lt;!&ndash;                                    placeholder="enter here">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                <label for="floatingPassword">Job Location</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;         <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;      <label>{{quiz.question3}}</label>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;         <div class="form-floating mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="text" name="answer"class="form-control" id="floatingPassword"&ndash;&gt;-->
<!--&lt;!&ndash;                                    placeholder="enter here">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                <label for="floatingPassword">Job Location</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;         <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;      <label>{{quiz.question4}}</label>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;         <div class="form-floating mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="text" name="answer"class="form-control" id="floatingPassword"&ndash;&gt;-->
<!--&lt;!&ndash;                                    placeholder="enter here">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                <label for="floatingPassword">Job Location</label>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--    <div class="form-check">-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="checkbox" name="{{q.Corrans}}" id="gridRadios1" value="Option1" >-->
<!--            <label class="form-check-label" for="gridRadios1">-->
<!--                {{q.Option1}}-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="checkbox" name="{{q.Corrans}}" id="gridRadios2" value="Option2">-->
<!--            <label class="form-check-label" for="gridRadios2">-->
<!--                {{q.Option2}}-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="checkbox" name="{{q.Corrans}}" id="gridRadios3" value="Option3">-->
<!--            <label class="form-check-label" for="gridRadios3">-->
<!--                {{q.Option3}}-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="form-check">-->
<!--            <input class="form-check-input" type="checkbox" name="{{q.Corrans}}" id="gridRadios4" value="Option4">-->
<!--            <label class="form-check-label" for="gridRadios4">-->
<!--                {{q.Option4}}-->
<!--            </label>-->
<!--        </div>-->
<!--        <br>-->
<!--    </div>-->
<!--     </div>-->

<!--    <input id='timer' type='hidden' name="timer" value="">-->
<!--    <br>-->
<!--    <button type="submit" class="btn btn-primary">Submit</button>-->
<!--  </form>-->
<form method="POST" action="{% url 'quiz_answer' 1 %} ">
  {% csrf_token %}
  <label for="answer1">{{ quiz.question1 }}</label><br>
  <input type="text" name="answer1" required><br>
  <label for="answer2">{{ quiz.question2 }}</label><br>
  <input type="text" name="answer2" required><br>
  <label for="answer3">{{ quiz.question3 }}</label><br>
  <input type="text" name="answer3" required><br>
  <label for="answer4">{{ quiz.question4 }}</label><br>
  <input type="text" name="answer4" required><br><br>
  <button type="submit">Submit</button>
</form>
        <script>

            console.log('hello world')
            const timer=document.getElementById('displaytimer')
            console.log(timer.textContent)
            const inputtag = document.getElementById('timer')

            t=0
            setInterval(()=>{
                t+=1
                timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
                inputtag.value = t
            },1000)
        </script>


</div>
{% endblock %}